@{
    ViewData["Title"] = "Search Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Product>

<h3 class="my-4">Search Results for "<span class="text-primary">@Context.Request.Query["q"]</span>"</h3>

@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">
        No matching products found.
    </div>
}
else
{
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card h-100 shadow-sm border-0">
                   
                    <div class="card-body">
                        <h5 class="card-title">@item.Product_Name</h5>
                        <p class="card-text text-muted" style="height: 60px; overflow: hidden;">@item.Product_Description</p>
                    </div>

                   
                </div>
            </div>
        }
    </div>
}
