
<div class="container-fluid px-4">
	<h2 class="mt-4 text-center text-uppercase" style="letter-spacing:4px">
		Category Update
	</h2>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<form method="post" enctype="multipart/form-data">
			<input type="hidden" name="Category_Id" value="@Model.Category_Id" />
			<input type="text" name="Category_Name" class="form-control my-3" value="@Model.Category_Name" />
			<input type="submit" value="Update Category" class="btn btn-primary" />
		</form>
	</div>
	<div class="col-md-2"></div>
</div>